In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Preprocessing

In [65]:
df = pd.read_csv("./Spotify Most Streamed Songs.csv")
df

                              track_name  ...                                          cover_url
0    Seven (feat. Latto) (Explicit Ver.)  ...                                          Not Found
1                                   LALA  ...  https://i.scdn.co/image/ab67616d0000b2730656d5...
2                                vampire  ...  https://i.scdn.co/image/ab67616d0000b273e85259...
3                           Cruel Summer  ...  https://i.scdn.co/image/ab67616d0000b273e787cf...
4                         WHERE SHE GOES  ...  https://i.scdn.co/image/ab67616d0000b273ab5c9c...
..                                   ...  ...                                                ...
948                         My Mind & Me  ...  https://i.scdn.co/image/ab67616d0000b2730f5397...
949            Bigger Than The Whole Sky  ...  https://i.scdn.co/image/ab67616d0000b273e0b60c...
950                 A Veces (feat. Feid)  ...                                          Not Found
951                        En La De Ella  ...                                          Not Found
952                                Alone  ...  https://i.scdn.co/image/ab67616d0000b273992a1f...

[953 rows x 25 columns]

The following code will:
- Group the different columns into better recognizable sections
- rename ambigious column names (**streams => spotify_streams**)
- dropped a column that gave no meaningful information (**cover_url**)
- make the mode column be in 0 an 1 for better data analysis (**Major = 0, Minor = 1**)
- make the key column be from 0 to 12 for better data analysis (**A is 0, G# = 12, and NaN = NaN**)

In [66]:
df = df.rename(columns={'streams': 'spotify_streams'})
df = df.drop('cover_url', axis=1)
df = df.set_index(['track_name', 'artist(s)_name'])
# Defining groups of 
date_cols = ['released_year', 'released_month', 'released_day']
spotify_col = ['in_spotify_playlists', 'in_spotify_charts', 'spotify_streams']
apple_col = ['in_apple_playlists', 'in_apple_charts']
deezer_col = ['in_deezer_playlists', 'in_deezer_charts']
musical_info_col = ['bpm', 'key', 'mode']

In [67]:
df['mode'] = df['mode'].map({'Major': 0, 'Minor': 1}) 
mode_dict = {0: 'Major', 1: 'Minor'}

In [68]:
df["key"] = df['key'].map({
    'A': 0,
    'A#': 1,
    'B': 2,
    'C': 3,
    'C#': 4,
    'D': 5,
    'D#': 6,
    'E': 7,
    'F': 8,
    'F#': 9,
    'G': 10,
    'G#': 11,
    np.nan: np.nan
})
key_dict = {
    0 : 'A',
    1 : 'A#',
    2 : 'B',
    3 : 'C',
    4 : 'C#',
    5 : 'D',
    6 : 'D#',
    7 : 'E',
    8 : 'F',
    9 : 'F#',
    10 : 'G',
    11 : 'G#',
    np.nan : np.nan
}

In [69]:
df.describe()

       artist_count  released_year  ...  liveness_%  speechiness_%
count    953.000000     953.000000  ...  953.000000     953.000000
mean       1.556139    2018.238195  ...   18.213012      10.131165
std        0.893044      11.116218  ...   13.711223       9.912888
min        1.000000    1930.000000  ...    3.000000       2.000000
25%        1.000000    2020.000000  ...   10.000000       4.000000
50%        1.000000    2022.000000  ...   12.000000       6.000000
75%        2.000000    2022.000000  ...   24.000000      11.000000
max        8.000000    2023.000000  ...   97.000000      64.000000

[8 rows x 19 columns]

In [70]:
df

                                                        artist_count  ...  speechiness_%
track_name                          artist(s)_name                    ...
Seven (feat. Latto) (Explicit Ver.) Latto, Jung Kook               2  ...              4
LALA                                Myke Towers                    1  ...              4
vampire                             Olivia Rodrigo                 1  ...              6
Cruel Summer                        Taylor Swift                   1  ...             15
WHERE SHE GOES                      Bad Bunny                      1  ...              6
...                                                              ...  ...            ...
My Mind & Me                        Selena Gomez                   1  ...              3
Bigger Than The Whole Sky           Taylor Swift                   1  ...              6
A Veces (feat. Feid)                Feid, Paulo Londra             2  ...              6
En La De Ella                       Feid, Sech, Jhayco             3  ...              5
Alone                               Burna Boy                      1  ...              5

[953 rows x 22 columns]